<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>AGQRec</title>

        <script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/components/jquery-ui/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/components/bootstrap/js/bootstrap.js "></script>
        <script type="text/javascript" src="/js/agqrec.js"></script>

        <link rel="stylesheet" href="/components/jquery-ui/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="/css/agqrec.css">
    </head>

    <body>
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">AGQRec</a>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" onclick="reloadClockwork()"><span class="glyphicon glyphicon-refresh">Reload Clockwork</span></a></li>
                    <li><a href="#" onclick="scheduleTable.updateSchedules()"><span id="menu-save" class="glyphicon glyphicon-floppy-saved">Save</span></a></li>
                    <li><a href="#" onclick="showScheduleDialog()" ><span class="glyphicon glyphicon-plus">Add</span></a></li>
                </ul>
            </div>
        </div>

        <hr />

        <div class="container">
            <div class="col-1-12"></div>
            <div class="col-10-12">

              <table class="table table-striped table-responsive">
                  <thead>
                      <th>Provider</th>
                      <th>At</th>
                      <th>Title</th>
                  </thead>
                  <tbody>
                      <% Schedule.all.each do |schedule| %>
                          <tr schedule='<%= schedule.to_json %>'>
                              <td><%= schedule[:provider] %></td>
                              <td><%= schedule[:at]       %></td>
                              <% if schedule[:url] && schedule[:url] != "" %>
                              <td><a href="<%= schedule[:url] %>" target="_blank"><%= schedule[:title] %></a></td>
                              <% else %>
                              <td><%= schedule[:title] %></td>
                              <% end %>
                          </tr>
                      <% end %>
                  </tbody>
              </table>

              <hr />

              <table id="AGQR" class="table table-bordered">
                <thead>
                  <tr>
                    <th></th>
                    <th style="width: 13%">Mon</th>
                    <th style="width: 13%">Tue</th>
                    <th style="width: 13%">Wed</th>
                    <th style="width: 13%">Thu</th>
                    <th style="width: 13%">Fri</th>
                    <th style="width: 13%">Sun</th>
                    <th style="width: 13%">Sat</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>

            </div>
            <div class="col-1-12"></div>
        </div>

        <hr />

        <div id="createScheduleDialog" class="dialog-form" title="New Schedule">
            <form id="createScheduleForm" class="pure-form pure-form-aligned">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="provider">Content Provider</label>
                        <input id="provider" type="text" placeholder="AGQR" value="AGQR">
                    </div>

                    <div class="pure-control-group">
                        <label for="title">Title</label>
                        <input id="title" type="text" placeholder="A&G NEXT GENERATION Lady GO!! 月曜日 上坂すみれ">
                    </div>

                    <div class="pure-control-group">
                        <label for="at">Scheduled at</label>
                        <input id="at" type="text" placeholder="Monday 19:30">
                    </div>

                    <div class="pure-control-group">
                        <label for="length">Length (min)</label>
                        <input id="length" type="text" placeholder="30">

                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary" onclick="createSchedule($('#createScheduleForm fieldset input'));">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </body>
</html>
